.cards {
  padding-top: 20px;
  max-width: 1280px;
}

.cards__list {
  list-style-type: none;
  padding: 0 0 40px;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
    padding-bottom: 20px;
  }
}
