.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.footer__copyright {
  font-family: Poppins, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  background: transparent;
  opacity: 0.7;
  margin: 0;
}
