/* to do font styles */

.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close.svg);
  background-position: center;
  background-size: contain;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}
.modal__title {
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  gap: 8px;
  border: 1px solid #21212166;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  border-radius: 6px;
  border: none;
  color: #fcf5e5;
  background-color: #212121;
  gap: 8px;
  padding: 18px 32px;
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  cursor: pointer;
}

.modal__submit-btn:hover {
  max-width: 156px;
}
